@model Garage2._0.Models.Receipt

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>
<p>Your vehicle has been checked out!</p>
<p>Thank you for your stay, and please come again!</p>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.RegNr)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RegNr)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.IncheckDatum)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IncheckDatum)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UtcheckDatum)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UtcheckDatum)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Kostnad)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Kostnad)
    </dd>
</dl>

